<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/dashboard">{{config.application.name}}</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{active: state=='app.dashboard'}"><a ui-sref="app.dashboard">Overview <span class="sr-only">(current)</span></a></li>
                <li ng-class="{active: (state=='app.users' || state=='app.users-documents')}"><a ui-sref="app.users">Users</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ui-view></div>
        </div>
    </div>
</div>
