<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.users}}</h1>
        <h4>Users</h4>
        <span class="text-muted">Total Users</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.documents}}</h1>
        <h4>Documents</h4>
        <span class="text-muted">Total Documents Stored</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.downloads}}</h1>
        <h4>Downloads</h4>
        <span class="text-muted">Total Downloads</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.views}}</h1>
        <h4>Views</h4>
        <span class="text-muted">Total Documents Views</span>
    </div>
</div>

<h2 class="sub-header">Latest Documents</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 1px;">#</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Date</th>
                <th>Views</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="document in documents | orderBy:'uploaded':true | limitTo:100">
                <td>{{document.id}}</td>
                <td><img data-ng-src="{{getDocumentIcon(document)}}" alt=""> {{document.name}}</td>
                <td>{{document.owner.name}}</td>
                <td>{{document.uploaded | date:config.date.format}}</td>
                <td>{{document.views}}</td>
                <td><a href="#/document/{{document.id}}">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
