<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.users}}</h1>
        <h4>Users</h4>
        <span class="text-muted">Total Users</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.documents}}</h1>
        <h4>Documents</h4>
        <span class="text-muted">Total Documents Stored</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.downloads}}</h1>
        <h4>Downloads</h4>
        <span class="text-muted">Total Downloads</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{count.views}}</h1>
        <h4>Views</h4>
        <span class="text-muted">Total Documents Views</span>
    </div>
</div>

<h2 class="sub-header">Latest Documents</h2>
<documents-table ng-model="documents"></documents-table>
